body {
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: var(--fonte-nome);

}

.header {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 15px;
    border-bottom: 3px solid #ccc;
    border-radius: 20px;
}

.header img {
    width: 100px;
    padding: 15px;
}

.header .titulo {
    width: 90%;
}

.header h1 {
    text-align: center;
    padding: 15px;
}

.todo-conteudo .pai {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.todo-conteudo .pai .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 15px;
    margin: 30px;
    max-width: 300px;
    height: 300px;
    border-right: 2px solid #ccc;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}

.todo-conteudo .pai .conteudo img {
    width: 150px;
    
}

.todo-conteudo .pai .conteudo h3 {
    padding: 7px;
    margin-bottom: 5px;
    /* border-bottom: 3px solid #ccc; */
    
}

.todo-conteudo .pai .conteudo p {
    text-align: center;
    font-size: 22px;   
    transition: 1s; 
}


.todo-conteudo .pai .conteudo .descricao {
    position: absolute;
    display: none;
    border-radius: 30px;
    background-color: #2b2a2a;
    height: 250px;
    padding: 20px;
    margin: 15px;
    transition: 0.4s ease-in-out;
       
}

.todo-conteudo .pai .conteudo:hover .descricao {
    display: block;
}