@media (max-width:768px)  {
    .todo-conteudo .pai  {
        flex-wrap: wrap;
    }
}

@media (max-width:900px)  {
    .todo-conteudo .pai  {
        flex-wrap: wrap;
    }
}



@media (min-width:200px) and (max-width:415px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 150px;
    }

    .header img {
        width: 150px;
        opacity: 0.5;
    }

    .header .titulo {
        position: absolute;
        
    }

    .header h1 {
        font-size: 30px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        position: relative;
      }

    .footer img {
       width: 110px;
       margin: 20px;
       opacity: 0.3;
    }

    .footer .direito {
        display: none;
    }

    .footer .menu ul li {        
        margin: 10px;
    }

    .footer .menu {
        position: absolute;
        padding: 30px;
    }
}